body{
  color: white;
  font-family: Verdana, Arial, Helvetica, sans-serif;
}
.axis path,
.axis line {
 fill: none;
 stroke: #000;
 shape-rendering: crispEdges;
}

.bar {
 fill: steelblue;
}

.x.axis path {
 display: none;
}
header
{
   overflow:hidden;
   width:100%;
  position:fixed;
  top:0;
  right: 0;
  background:black;
  height:105px;
           
}
nav li
{
  display:inline;
  font-size:15px;
  float:right;
  font-family: Courier, "Lucida Console", monospace;
}
nav a
{
   text-decoration:none;
  padding-right:20px;
  color: white;
}
